body{
    background: red;
}

.wrapper{
    height: 300px;
    width: 10px;
    border: 2px solid red;
    background-image: url(soaked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bar2{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    }

.header2{
	text-align: center;
}


@media all and (max-width: 480px){

.wrapper{
    height: 100px;
    width: 80%;
    border: 2px solid red;
    background-image: url(soaked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;}

.header2{
    font-size: 10px;
    margin: 0 auto;
    }

}

@media all and (min-width: 481px) and (max-width: 768px){
.wrapper{
    height: 200px;
    width: 100%;
    border: 2px solid red;
    background-image: url(soaked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;}

.header2{
        font-size: 15px;
        color: green;
    }
}

@media all and (min-width: 769px) and (max-width: 992px){
    .wrapper{
    height: 300px;
    width: 100%;
    border: 2px solid red;
    background-image: url(soaked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;}

.header2{
        font-size: 20px;
        color: blue;}
}

@media all and (min-width: 993px){
    .wrapper{
    height: 400px;
    width: 100%;
    border: 2px solid red;
    background-image: url(soaked.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;}

.header2{
        font-size: 25px;
        color: black;}
}






