.bar2{
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    }

.header2{
	text-align: center;
}

.img{
    height: 150px;
    width: 250px;
    background-repeat: no-repeat;
    /*border: 2px solid green;*/
    margin: 0 auto;
    box-shadow: 5px 5px 12px grey;
}

 .cap1 {
    display: block;
    /*background-color: lightgrey;*/
    width: 300px;
    margin: 0 auto;
 }


#splash{
	background-image: url('soaked.jpg');

}

#pranks{   
    background-image: url('pranks.jpg');
}


#stealing{
	background-image: url('stealing.jpg');
}


@media all and (max-width: 480px){
    
  .cap1 {
    margin-bottom: 30px;
    /*box-shadow: 5px 5px 12px grey;*/
  }

  .img {
    border-radius: 50px;
  }


}

@media all and (min-width: 481px) and (max-width: 768px){
      .cap1 {    
    margin-bottom: 45px;   
  }

  .img {
    box-shadow: 10px 10px 10px lightblue;
  }
	

}

@media all and (min-width: 769px) and (max-width: 992px){
    .wrapper {
        /*border: 2px solid;*/
        overflow: hidden;
        min-width: 921px;
    }
    .image-wrapper {
        float: left;
    }
}

@media all and (min-width: 993px){
    .wrapper {
        width: 1000px;
        overflow: hidden;
        /*border: 2px solid;*/

    }

    .image-wrapper {
        float: left;
        margin: 10px;
    }


}






