body {
  background-color: black;
}
.topnav{
  background-color: blue;
  overflow: hidden;
}
.mobilebar {
	width: 40%;
	margin:0 auto 20px;
	/*border: 2px solid;*/
	text-align: center;
}
.header{
	text-align: center;
  color: white;
}

.topnav a {
float: left;
color: blue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;

}

.topnav a:hover {
background-color: blue
color: red;
}

.words{
  height: 60%;
  width: 90%;
  background-color: lightgrey;
  border: 10px solid red;
  margin: 0 auto;
}

@media all and (max-width: 480px){
	.mobilebar{
	/*float: left;*/
	color: blue;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	}
	.header{
		font-size: 12px;
	}
    .words{
        float: left;
        font-size: 12px;
        margin: auto;
}
}
@media all and (min-width: 481px) and (max-width: 768px){
     .mobilebar{
      text-align: center;
      font-size: 15px;
      }
     .header{
      font-size: 15px;
   }
     .words{
   	 float: left;
   	 font-size: 15px;
   	 margin: auto;
   
   }
   }
 @media all and (min-width: 769px) and (max-width: 960px){
     .mobilebar{
     text-align: center;
     text-decoration: none;
     font-size: 18px;
     }
     .header{
     font-size: 18px;
     }
     .words{
     float: left;
     font-size: 18px;
     margin: auto;	
     }
 }


