.wbar{
text-align: center;
}

.topnav a {
float: left;
color: blue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 18px;

}

.wrapper1{
   height: 75px;
   width: 75px;
   margin: auto 0;
   border: 2px solid red;
   margin-bottom: 25px;

}

.topnav a:hover {
background-color: blue
color: red;

}

#atmydesk{
	height: 100px;
	width: 180px;
	background-image: url('workpic.jpg');
	background-repeat: no-repeat;
	float: left;
}
#ontherun{
    height: 100px;
    width: 180px;
    background-image: url('running.jpg');
    background-repeat: no-repeat;
    float: left;
}

#toytime{
	height: 100px;
	width: 180px;
	background-image: url('toytime.jpg');
	background-repeat: no-repeat;
	float: left;
}

@media all and (max-width: 480px){
     .wbar{
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     }
     .exp{
     font-size: 12px;
     }
     .bullets{
     font-size: 12px;
     }
     .list{
     font-size: 12px;
     }
     .wrapper1{
     height: 50px;
     width: 80px;
     margin-bottom: 30px
     }
     .cap1{
     margin-bottom: 30px;
     float: left;
     }
 }

 @media all and (min-width: 481px) and (max-width: 768px){
 	.wbar{
     color: blue;
     text-align: center;
     text-decoration: none;
     font-size: 15px;
     }
     .exp{
     font-size: 15px;
     }
     .bullets{
     font-size: 15px;
     }
     .list{
     font-size: 15px;
     }
     .wrapper1{
     height: 75px;
     width: 100px;
     margin-bottom: 45px;
     }
     .cap1{
     margin-bottom: 45px;
     }
 }

 @media all and (min-width: 769px) and (max-width: 1000px){
     .wbar{
     color: blue;
     text-align: center;
     text-decoration: none;
     font-size: 18px;
     }
     .exp{
     font-size: 18px;
     }
     .bullets{
     font-size: 18px;
     float: left;
     }
     .list{
     font-size: 18px;
     }
     .wrapper1{
     height: 200px;
     width: 200px;
     float: left;
     margin-bottom: 60px;
     }
     .cap1{
     margin-bottom: 60px;
     float: left;
     }
}